<div class="article-stats">
  <span class="label label-success">
    <i class="fas fa-thumbs-up"></i>
    <span id="likes-count">
      <%= article.likes.count %>
    </span>
  </span>

  <span class="label label-view">
    <i class="far fa-eye"></i>
    <%= article.view_count %>
  </span>
  <span class="label label-comment">
    <i class="fas fa-comment-alt"></i>
    0
  </span>
</div>
