$navbar-default-bg: #337ab7;
$navbar-default-color: #fff;

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: #f5f5f5;
}

.tox-tinymce {
  border: none !important;
  border-radius: 5px !important;

  .tox-toolbar {
    border-top: none !important;
  }

  .tox-statusbar {
    display: none !important;
  }
}

.main-container {
  min-height: calc(100vh - 100px);
  padding-bottom: 15px;
}

.flash-messages {
  margin-top: 60px;
}

.well {
  background-color: #fff;
}

.navbar {
  border-radius: 0px;
  background: rgb(17, 127, 221);
  background: radial-gradient(
    circle,
    rgba(17, 127, 221, 0.9710259103641457) 0%,
    rgba(64, 117, 163, 1) 97%
  );
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  cursor: pointer;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.center {
  text-align: center;
}

.container .jumbotron {
  border-radius: 0px;
}

.profile-image {
  img {
    width: 25px;
  }
}

.jumbotron {
  background-image: asset-url('bg-blog.jpg');
  background-size: cover;
  background-position: center;
  height: 550px;

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
  }

  .btn-large {
    margin-top: 100px;
  }
}

footer {
  display: flex;
  align-items: center;
  border-top: 1px solid darkgray;
  height: 40px;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style: none;
    margin-bottom: 0;

    li {
      margin-left: 15px;
    }
  }

  a:hover {
    color: #222;
    text-decoration: none;
  }
}

.user-image {
  display: block;
  img {
    width: 80px;
  }
}

.relationship {
  margin-top: 5px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}

.error-messages {
  list-style: none;
}

.article-description {
  background-color: #fff;
}

.article-title {
  font-weight: bold;
  font-size: 1.9rem;
}

.article-body {
  margin-bottom: 10px;
}

.article-category {
  margin-top: 5px;
}

.article-meta-details {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
  padding: 5px 0;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.article-stats {
  order: 1;
  // margin: 8px 0;
  display: flex;
  justify-content: flex-start;

  span {
    margin-right: 5px;
  }

  .label-view {
    background-color: #f3620ab8;
  }

  .label-comment {
    background-color: #925555;
  }
}

.listing {
  list-style: none;
  padding-left: 0;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.show-article {
  margin-bottom: 10px;
}

.badge {
  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.edit-category {
  font-weight: bold;
  font-size: 1.5rem;
}

.category {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

    a {
      font-size: 0.7rem;
    }
  }

  .article-card {
    min-height: 220px;
  }
}
