<footer class="footer">
  <div class="container">
    <div class="footer">
      <div>
        <small>
          Copyright &copy; <%= Time.now.year %>
        </small>
      </div>
      <ul>
        <li><%= link_to "About",   about_path %></li>
      </ul>
    </div>
  </div>
</footer>
